body {
    height:100vh;
}

.letterTable {
    border-collapse: separate;
    border-spacing:0.5vw;
    width:80%;
    height:8vh;
    margin:auto;
}

.guessTable {
    border-collapse: separate;
    border-spacing:0.5vw;
    height:54vh;
    width:80%;
    margin:auto;
}

.guessLetter {
    border: solid grey 1px;
    background-color:rgb(200, 200, 200);
    width:5vw;
}

.letterBox {

}

.title {
    text-align:center;
}

h6 {
    text-align:center;
}

.border-right {
    border-right: 1px solid grey;
}
