.title {
    text-align:center;
}

h6 {
    text-align:center;
}

.attemptBox {
    border: solid grey 1px;
    height:3vw;
    width:3vw;
}

.border-right {
    border-right: 1px solid grey;
}

table {
    border-collapse: separate;
    margin-right:50%;
    width:100%;
}
