{% extends "base.html" %} {% block content %}

<head>
  <title>Scrambled</title>
</head>
<!-- Shayan Testing Stuff between two comment lines -->
<script
      src="https://code.jquery.com/jquery-1.12.4.min.js"
      integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
      crossorigin="anonymous"
></script>
<script>
  $(document).ready(function () {
    $(".btn").click(function () {
      var content = $("#newtask").val();
      var fixingContent = "<li>" + content + "</li>";
      $(".todolist").append(fixingContent);
    });
  });
  function clear (){
      document.getElementById("newtask").value = "";
  }
</script>
<!-- Shayan Testing Stuff between two comment lines -->
<body onload="init()">
  <div class="container-fluid">
    <div class="row gx-0">
      <div class="col-lg-4"></div>
      <div class="col-lg-4 row gx-0">
        <div class="col-6 border-right">
          <h6><b>Score</b></h6>
        </div>
        <div class="col-6">
          <h6><b>Time Taken</b></h6>
        </div>
        <hr />
        <div class="col-6">
          <div id="score" style="text-align: center">
            <span id="score2">420</span>
          </div>
        </div>
        <div class="col-6">
          <div id="timer" style="text-align: center">
            <span id="minutes">00</span><span>:</span><span id="seconds">00</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4"></div>
    </div>
  </div>
<!--
  <div class="container-fluid">
    <div class="row gx-0">
      <div class="col-lg-4"></div>
      <div class="col-lg-4">
        <table class="guessTable" id="guessTable"></table>
        <hr/>
      </div>
      <div class="col-lg-4"></div>
    </div>
  </div>
-->
<!-- Shayan Testing Stuff between two comment lines -->
</br>
</br>
</br>
<center>
  <table>
      <tr>
        <td>1) {{words.0}}</td>
        <td>4) {{words.3}}</td>
      </tr>
      <tr>
        <td>2) {{words.1}}</td>
        <td>5) {{words.4}}</td>
      </tr>
      <tr>
        <td>3) {{words.2}}</td>
        <td>6) {{words.5}}</td>
      </tr>
    </table>
</center>
</br>
</br>
</br>
<center>
  <form>
    <input
      type="text"
      id="newtask"
      name="newtask"
      placeholder="Word"
      
    />
    <input class="btn" type="button" id="addtask" name="addtask" value="Submit" onclick="clear()"/>
  </form>
<center>

<div class="left">
  <h1>To Do</h1>
  <ul class="todolist">

  </ul>
</div>
<!-- Shayan Testing Stuff between two comment lines -->
</div>
  <div class="container-fluid">
    <div class="row gx-0">
      <h6>Letters</h6>
      <div class="col-lg-4"></div>
      <div class="col-lg-4">
        <table
          class="letterTable testTrue"
          id="letterTable"
          onclick="startTimer(); this.onclick=null "
        ></table>
        <!-- this.onclick=null -->
      </div>
      <div class="col-lg-4"></div>
    </div>
  </div>
</body>
<script>
  function init() {
    // Loads in the guess table
    for (let i = 0; i < 6; i++) {
      let attemptRow = document.createElement("tr");
      for (let j = 0; j < 7; j++) {
        let attemptLetter = document.createElement("td");
        attemptLetter.className = "guessBox";
        attemptRow.appendChild(attemptLetter);
      }
      document.getElementById("guessTable").append(attemptRow);
    }

    // Loads in the letters
    let letterRow = document.createElement("tr");
    for (let k = 0; k < 7; k++) {
      let letter = document.createElement("td");
      letter.innerHTML = "A<sub>1</sub>";
      letter.className = "guessLetter";
      // letter.onclick = clickedLetter();
      letterRow.append(letter);
    }
    document.getElementById("letterTable").append(letterRow);

    // Opens rules modal
    var rulesModal = new bootstrap.Modal(
      document.getElementById("rulesModal"),
      {}
    );
    rulesModal.toggle();
  }
  function startTimer() {
    var minutesLabel = document.getElementById("minutes");
    var secondsLabel = document.getElementById("seconds");
    var totalSeconds = 0;
    setInterval(setTime, 1000);

    function setTime() {
      ++totalSeconds;
      secondsLabel.innerHTML = pad(totalSeconds % 60);
      minutesLabel.innerHTML = pad(parseInt(totalSeconds / 60));
    }

    function pad(val) {
      var valString = val + "";
      if (valString.length < 2) {
        return "0" + valString;
      } else {
        return valString;
      }
    }
  }
</script>
{% endblock %}
