{% extends "base.html" %} {% block content %}
<head>
  <title>Leaderboard</title>
</head>
<div class="container-fluid">
  <div class="row gx-0">
    <div class="col-sm-2"></div>
    <div class="col-sm-8" style="text-align: center;">
      <h1>Top 10 Scores</h1>
      <table class="table">
        <thead>
          <tr>
            <th>Score</th>
            <th>Name</th>
            <th>Time Taken</th>
            
          </tr>
        </thead>
        <tbody>
          {% for statistic in stats %}
          <tr>
            <td>{{ statistic.score }}</td>
            <td>{{ statistic.userId }}</td>
            <td>{{ statistic.timeTaken }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>

{% endblock %}
