{% extends "base.html" %} {% block content %}
<main class="form-signin w-100 m-auto text-center">
  <div class="container">
    <div class="row gx-0">
      <div class="col-lg-4"></div>
      <div class="col-lg-4">
        <h1>Reset Password</h1>
        <form action="" method="post">
          {{ form.hidden_tag() }}
          <p>
            {{ form.email.label }}<br />
            {{ form.email(class_="form-control rounded-4") }}<br />
            {% for error in form.email.errors %}
            <span style="color: red">[{{ error }}]</span>
            {% endfor %}
          </p>
          <p>{{ form.submit(class_="w-100 mb-2 btn btn-lg rounded-4 btn-primary") }}</p>
        </form>
        <p class="mt-5 mb-3 text-muted">© 2022-2022</p>
      </div>
      <div class="col-lg-4"></div>
    </div>
  </div>
</main>
{% endblock %}
