{% extends "base.html" %} {% block content %}
<main class="form-signin w-100 m-auto text-center">
  <div class="row gx-0">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <h1 class="mb-3 fw-normal">Reset Password</h1>
      <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
          {{ form.password.label }}<br />
          {{ form.password(size=32) }}<br />
          {% for error in form.password.errors %}
          <span style="color: red">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.password2.label }}<br />
          {{ form.password2(size=32) }}<br />
          {% for error in form.password2.errors %}
          <span style="color: red">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
      </form>
    </div>
    <div class="col-lg-4"></div>
  </div>
</main>
{% endblock %}
