{% extends 'base.html' %}

{% block content %}
<div class="container-fluid row gx-0">
    <div class='col-lg-4 gx-0'></div>
    <div class='col-lg-4 gx-0 row'>
        <h4 class="centered"><b>Welcome to Scrambled!</b></h4>
        <p class="centered"><b>The aim of Scrambled is simple - create the highest scoring words from 7 random letters</b></p>
        <p class="centered">
            Every day a new set of random letters is generated.<br>
            Your goal is to form 6 words from these letters.<br>
            Letters may only be used once and words cannot be repeated.<br>
            Words must be 3 and 7 letters long<br>
            <a href="/login" class="btn">Login to compete with friends!</a>
        </p>

        <hr>
        <p class="centered"><b>Scrambled has two game modes - Normal and Speed. Each mode can be played daily, with different letters for each.</b></p>
        <h6>Normal Scrambled</h6>
        <p class="centered">In Normal Scrambled, you have unlimited time!</p>

        <h6>Speed Scrambled</h6>
        <p class="centered"> In Speed Scrambled, you have 2 minutes!</p>

        <h4 class="title">Let's Play!</h4>
        <div class="col-3 gx-0"></div>
        <div class="col-2 gx-0">
            <button class="btn btn-dark" onclick="location.href='/index'">Normal</button>
        </div>
        <div class="col-2"></div>
        <div class="col-2 gx-0">
            <button class="btn btn-dark" onclick="location.href='/speed'">Speed</button>
        </div>
        <div class="col-3 gx-0"></div>
    </div>
    <div class="col-4 gx-0"></div>
</div>

{% endblock %}