{% extends "base.html" %}
{% block content %}
<head>
  <title>Statistics - {{ current_user.username }}</title>
</head>
<div class="container-fluid">
  <div class="row gx-0">
    <div class="col-sm-2"></div>
    <div class="col-sm-8" style="text-align: center">
      <h1>Hi, {{ current_user.username }}</h1>
      <table class="table">
        <thead>
          <tr>
            <th>Score</th>
            <th>Time Taken</th>
            <th>Date done</th>
          </tr>
        </thead>
        <tbody>
          {% for statistic in stats %}
          <tr>
            <td>{{ statistic.score }}</td>
            <td>{{ statistic.timeTaken }}</td>
            <td>{{ statistic.game_completed }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <canvas id="myChart" width="200" height="200"></canvas>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>
<script>
  let scoreofGame = JSON.parse({{ datesScore | tojson }});
  let dates = JSON.parse({{ datesofSubmissions | tojson }})
  let average = JSON.parse({{ averagegameScore | tojson }})
  const ctx = document.getElementById("myChart").getContext("2d");
  const myChart = new Chart(ctx, {
    type: "line",
    data: {
      labels: dates,
      datasets: [
        {
          label: "Score",
          data: scoreofGame,
          backgroundColor: [
          "rgb(75, 192, 192)"
            
          ],
          borderColor: [
            "rgb(75, 192, 192)"],
          borderWidth: 2,
          tension: 0.3,
          
        },
        {label: 'Dataset 2',
          data: average,
          backgroundColor: ["rbg(236,16,16"],
          borderColor: ["rbg(236,16,16"],
          borderWidth: 4,
          tension: 0,
          pointBackgroundColor: '#007bff'
        },
      ],
    },
    options: {
      scales: {
        y: {
          suggestedMin: 250
        },
      },
    },
  });
</script>
{% endblock %}
