{% extends "base.html" %} 

{% block content %} 

<div class="container-fluid">
    <div class="row gx-0">
        <div class=col-4></div>
        <div class="col-4">
            {% if current_user.is_anonymous %}
                <h6 class="title">Sign In</h6>
                <article class="row">
                    <div>
                    
                    <form action="" method="post" novalidate>
                      {{ form.hidden_tag() }}
                      <p>
                        {{ form.username.label }}<br />
                        {{ form.username(size=32) }}<br />
                        {% for error in form.username.errors %}
                        <span style="color: red">[{{ error }}]</span>
                        {% endfor %}
                      </p>
                      <p>
                        {{ form.password.label }}<br />
                        {{ form.password(size=32) }}<br />
                        {% for error in form.password.errors %}
                        <span style="color: red">[{{ error }}]</span>
                        {% endfor %}
                      </p>
                      <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
                      <p>{{ form.submit() }}</p>
                    </form>
                    <p>New User? <a href="{{ url_for('register') }}">Click to Register!</a></p>
                    <p>
                      Forgot Your Password?
                      <a href="{{ url_for('reset_password_request') }}">Click to Reset It</a>
                    </p>
                  </div>
                    </article>
                <a href="/register">New User</a>
            {% else %}
                <h6>Welcome</h6>
            {% endif %}
    </div>
    <div class=col-4></div>
</div>
</div>

{% endblock %}

<!-- <table>
  <tr valign="top">
    <td><img src="{{ user.avatar(128) }}" /></td>
    <td>
        <h1>User: {{ user.username }}</h1>
        {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
        {% if user.last_seen %}<p>Last seen on: {{ user.last_seen }}</p>{% endif %}
        <p>{{ user.followers.count() }} followers, {{ user.followed.count() }} following.</p>
        {% if user == current_user %}
        <p><a href="{{ url_for('edit_profile') }}">Edit your profile</a></p>
        {% elif not current_user.is_following(user) %}
        <p>
            <form action="{{ url_for('follow', username=user.username) }}" method="post">
                {{ form.hidden_tag() }}
                {{ form.submit(value='Follow') }}
            </form>
        </p>
        {% else %}
        <p>
            <form action="{{ url_for('unfollow', username=user.username) }}" method="post">
                {{ form.hidden_tag() }}
                {{ form.submit(value='Unfollow') }}
            </form>
        </p>
        {% endif %}
    </td>
  </tr>
</table>
{% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
    {% if prev_url %}
    <a href="{{ prev_url }}">Newer posts</a>
    {% endif %}
    {% if next_url %}
    <a href="{{ next_url }}">Older posts</a>
    {% endif %} -->
